{% extends 'base.html' %}

{% block titulo %} Detalle de ingrediente {% endblock %}

{% block contenido %}
<h2>Datos del ingrediente</h2>
{% if ingrediente %}
    <ul>
        <li>
            Ingrediente: {{ ingrediente.nombre}}
        </li>
        <li>
            Calorías (kcal): {{ ingrediente.calorias}}
        </li>
        <li>
            Pizzas: {% if lista_pizzas%}
            <ul>
            {% for d in lista_pizzas %}
                <li>
                    <a href="{% url 'detailPizza' d.id %}">{{ d.nombre}}</a>
                </li>
            {% endfor %}
            </ul>
            {% else %}
            <p>No hay pizzas asociadas con ese ingrediente.</p>
            {% endif %}
        </li>
    </ul>
{% else %}
    <p>No existe este ingrediente</p>
{% endif %}

{% endblock %}