{% extends 'base.html' %}

{% block titulo %} Detalle de masa {% endblock %}

{% block contenido %}
<h2>Datos de la masa</h2>
{% if masa %}
    <ul>
        <li>
            Nombre: {{masa.nombre}}
        </li>
        <li>
            {% if pizzas %}
            Pizzas con esta masa:
            {% for d in pizzas %}
            <ul>
            <li>
                {{ d.nombre}}
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        </li>
    </ul>
{% else %}
    <p>No existe esta masa</p>
{% endif %}
{% endblock %}